{% import "./macros.html" as macros %}
{% extends "layout.html" %}

{% block article_body %}

{% markdown %}

<!-- <script src="https://public.flourish.studio/resources/embed.js" data-src="story/332" data-width="100%" data-height="800px"></script> -->
<script src="https://public.flourish.studio/resources/embed.js" data-src="story/338" data-width="100%" data-height="120%"></script>

<!-- {# START MID AD SLOT
    You can move this wherever it works best in your page's design.
    For more control over the size, write your own o-ads div - see
    https://financial-times.github.io/o-ads/docs/developer-guide/display #}
{% if ads %}{{ macros.middleAd() }}{% endif %}
{# END MID AD SLOT #} -->


{% endmarkdown %}
{% endblock %}
