{% import "./macros.html" as macros %}
{% extends "layout.html" %}

{% block article_body %}

{% markdown %}
<div id="flourish-story-wrapper" onscroll="myFunction()">
	<style>
    .fl-head {font-size: 20}
		.fl-arrows { float: right; }
		.fl-arrow { display: inline-block; font-size: 4em; font-weight: bold; margin-left: 0.25em; cursor: pointer; user-select: none; }
		.fl-arrow:hover { opacity: 0.5; }
		.fl-arrow.disabled, .fl-arrow.disabled:hover { opacity: 0.2; cursor: default; }
	</style>
  <h2 id="fl-head"></h2>
  <p id="fl-text"></p>
	<div id="fl-controls">
		<div class="fl-arrows">
			<div id="fl-back" class="disabled fl-arrow"></div>
			<div id="fl-next" class="fl-arrow"></div>
		</div>
	</div>
	<script src="https://public.flourish.studio/resources/embed.js" data-src="story/338"></script>
	<script>
		var NUMBER_OF_SLIDES = 6;
		var SLIDE_TEXT = [
			"We asked outbound tourists from across China where they went on holiday last, what they spent when they got there, what they spent their money on and where they plan to go next.",
			"South Korea was among the top destinations but its popularity fell sharply from 2016 amid growing political tensions between Seoul and Beijing.",
			"Our 2017 data shows Chinese intend to holiday overseas more often as the cost of travel falls.",
			"The UK replaced South Korea as the third most popular destination for the next overseas trip by Chinese tourists.",
			"Europe – and France specifically – remains the dream destination for Chinese tourists.",
			"Explore the data yourself. Select a group, then compare by different categories, and optionally shade by a second category to see further breakdowns."
		];
    var SLIDE_TITLE = [
      "We asked 1,318 Chinese tourists ...",
      "Most recent destination",
      "Average total spending on most recent trip in 2017",
      "Planned destinations",
      "Dream destinations",
      "Explore the data"
    ];
    var slide = 0;
		var iframe;
		var check = setInterval(function() {
			iframe = document.querySelector("#flourish-story-wrapper iframe");
			if (iframe) { clearInterval(check); }
		}, 100);
		var text = document.getElementById("fl-text"),
         head = document.getElementById("fl-head"),
		    back = document.getElementById("fl-back"),
		    next = document.getElementById("fl-next");
		function goToSlide(slide) {
			if (!iframe) return;
			var current_url = iframe.getAttribute("src").split("#")[0];
			iframe.setAttribute("src", current_url + "#slide-" + slide);
			back.className = "fl-arrow" + (slide == 0 ? " disabled" : "");
			next.className = "fl-arrow" + (slide == NUMBER_OF_SLIDES - 1 ? " disabled" : "");
			text.innerHTML = SLIDE_TEXT[slide];
      head.innerHTML = SLIDE_TITLE[slide];
      console.log(SLIDE_TEXT[slide])
		}
		back.addEventListener("click", function() {
			if (slide > 0) slide--;
			goToSlide(slide);
      console.log(slide)
		});
		next.addEventListener("click", function() {
			if (slide < NUMBER_OF_SLIDES - 1) slide++;
			goToSlide(slide);
      console.log(slide)
		});
    document.addEventListener("DOMContentLoaded", function(){
    console.log(slide)
    document.getElementById("fl-text").innerHTML = SLIDE_TEXT[slide];
    document.getElementById("fl-head").innerHTML = SLIDE_TITLE[slide];
    });
	</script>
</div>
{% endmarkdown %}
{% endblock %}
